/* #region general */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(184, 184, 226);

    font-weight: 400;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* variables for common colors */
    --accent: rgb(17, 199, 26);
    --main: #ff8000;
    --border: 2px solid green;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 100%;
    padding: 20px;
}

/* #endregion: general */
/* #region header */
.header{
    padding-top: 10px;
    margin: 0 auto;
}
.header h1 {
    text-align: center;
    color: black;
}
/* #endregion header */
/* #region main */
.details {
    display: flex;
    gap: 40px;
}

.details img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer; 
}
.options{
    display: flex;
    margin-left: 115px;
    gap: 20px;
}


.contacts {
    width: 850px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}

.contact {
    padding: 10px 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 400px;
}

.contact img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contact:last-child {
    border-bottom: none;
}

.contact-details {
    flex-grow: 1;
    margin-right: 225px;
    display: flex;
    gap: 30px;
}
.contact-details p{
    font-size: 18px;
    color: black;
    cursor: pointer;
}
#detail{
    color: rgb(91, 85, 85);
}

.contact-actions {
    display: flex;
    gap: 15px;
    margin-right: 20px;
    margin-left: 215px;
}

.contact-actions img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 450px;
    

}

.add {
    border: none;
    cursor: pointer;
    margin: 5px;
    background: transparent;
}
.footer p{
text-align: center;
color:black;
font-weight: bold;
font-size: 18px;
padding-bottom: 20px;
}
/* #endregion main */